body {
    background-image: url("../Img/LoginBG.png"); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    background-size: cover;     
    background-position: center;
}