body, html {
    height: 100%;
    margin: 0;
}

/*上方導覽列*/
.navbar{
    background: #2A3F54;
    margin-left: 250px;
    transition: all 0.3s;
}

.navbar.expand {
    margin-left: 65px;
}


/* 漢堡按鈕 */
.hamburger-btn , .envelope-btn{
    color: #fff;
    font-size: 1.2em;
}

.hamburger-btn:hover , .envelope-btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

/* 側邊欄 */
.sidebar {
    top: 0;
    height: 100% ;
    width: 250px;
    position: fixed;
    background: #2A3F54; 
    transition: all 0.3s; 
}


#sidebarN.toggled {
    margin-left: 0;
    width: 65px;
}

#sidebarN.toggled span,            
#sidebarN.toggled .menu-category,   
#sidebarN.toggled .sidebar-user,
#sidebarN.toggled .dropdown-caret {
    display: none;    
}

.status{
    width: 12px;
    height: 12px; 
    transform: translate(-2px, -2px);
}

.lv-badge {
    background-color: #213345;
    color: #fff ;
    font-size: 0.7rem;

}

.xp-text {
    font-size: 0.75rem;
    color: #8a9aa8;
}

/* 經驗條(進度條) */
.custom-progress {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    height: 6px;
}

.custom-progress .progress-bar {
    background-color:white; 
}




/* 選單分類標題 */
.menu-category {
    padding: 15px 20px 8px;
    color: #8a9aa8;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
}

.sidebar li a,
.sidebar li button {
    padding: 14px 20px;
    display: flex;
    color: #EDEDED;
    text-decoration: none;
}

.sidebar ul li.active > a, .sidebar ul li a:hover,
.sidebar ul li.active > button, .sidebar ul li button:hover{
    background: #3E5367;
    border-right: 5px solid #1ABB9C; 
}


/* 通訊錄 */
.sidebar li button.dropdown-btn {
    width: 100%;
    border: none;
    background: none;
    padding: 15px 20px;
    color: #EDEDED;
    cursor: pointer;
}

.sidebar li button.dropdown-btn:hover {
    background: #3E5367;
}

/* 垂直線 */
.dropdown-container {
    display: none;
    background-color: #213345;
    position: relative; 
}

.dropdown-container::before {
    content: "";
    position: absolute;
    left: 28px; 
    top: 0;
    bottom: 0;
    width: 1px;
    background: rgba(255, 255, 255, 0.2); 
    z-index: 1;
}

/* 小圓點節點 */
.dropdown-container a {
    display: block;
    padding: 10px 20px 10px 55px !important; 
    text-decoration: none;
    position: relative;
}

.dropdown-container a::before {
    content: "";
    position: absolute; /*用絕對位置抓點點位置*/
    left: 25px; 
    top: 17px; 
    width: 7px;
    height: 7px;
    background: #2A3F54; 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 50%;
    z-index: 2;
}

/*箭頭*/
.dropdown-btn.active .dropdown-caret {
    transform: rotate(270deg);
}


/* 主內容 */
#content {
    background-color: #F7F7F7;
    margin-left: 250px; /* 預設被推開 */
    transition: all 0.3s;
    flex-grow: 1;
}

#content.expand {
    margin-left: 70px; 
}

